#hero-presentation {
    background: url("../images/hero.jpg") no-repeat top;
    padding-bottom: 6rem;
}
#title
{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
#subtitle
{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
}
.subtitle-ndash {
    color: #f3dc39;
    font-weight: 700;
}
#search-form-container {
    background-color: #ffffff;
    padding: .4rem 2rem;
}
form[name="booking_offer_search"] {
    justify-content: center;
}
form[name="booking_offer_search"] div.input-group {
    border-right: 1px solid #a09f9f;
    padding-right: 1rem;
}
form[name="booking_offer_search"] input:last-child, form[name="booking_offer_search"] select:last-child {
    border-radius: 0;
    font-family: "Montserrat", sans-serif;
    text-indent: .3em;
    font-size: 1rem;
    border: none;
}
form[name="booking_offer_search"] select {
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    min-width: 13rem;
    padding-right: 2rem;
    background: transparent url("data:image/svg+xml;utf8,<svg fill='rgb(0,58,110)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat center right;
    color: #1d2124;
    padding-left: 0;
}
form[name="booking_offer_search"] input {
    border: none;
    font-family: "Montserrat", sans-serif;
}
form[name="booking_offer_search"] .input-group select:hover {
    cursor: pointer;
}
.datepicker {
    padding-left: .3em;
    padding-right: .3em;
}
.datepicker th.datepicker-switch {
    text-align: center;
}
.datepicker th.prev {
    text-align: left;
}
.datepicker th.next {
    text-align: right;
}
.datepicker th.clear {
    text-align: center;
    border-radius: 8px;
    background-color: #a21111;
    color: #ffffff;
}
.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}
.datepicker:hover {
    cursor: pointer;
}
.search-form-submit-btn {
    background: transparent url("../images/search-icon.svg") no-repeat center center;
    border: none;
    display: inline-block;
    width: 100%;
}
.search-next-row {
    display: block;
}
.search-input-group {
    border: none !important;
    margin-left: 2rem;
}
@media(max-width: 576px) {
    form[name="booking_offer_search"] div.input-group {
        border-right: none;
        padding-right: 1rem;
    }
}
@media(max-width: 1317px) {
    #search-form-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .search-container {
        padding-left: 0;
    }
}
@media(max-width: 1316px) {
    form[name="booking_offer_search"] div.input-group {
        border-right: none;
        border-bottom: 1px solid #a09f9f;
        display: inline-block;
        width: 40%;
        margin-right: 1%;
    }
    form[name="booking_offer_search"] div.input-group div.input-group-prepend, form[name="booking_offer_search"] div.input-group div.input-group-append {
        display: inline-block;
        width: 1%;
    }
    form[name="booking_offer_search"] div.input-group select, form[name="booking_offer_search"] div.input-group input {
        display: inline-block;
        width: 95%;
    }
    .input-group.search-input-group {
        display: block;
        border: 6px double rgb(0,58,110) !important;
        text-align: center;
        padding-right: 0 !important;
        margin-left: 0;
    }
    .search-form-submit-btn {
        display: inline-block;
        width: 100%;
    }
}
@media(max-width: 586px) {
    form[name="booking_offer_search"] div.input-group {
        border-right: none;
        border-bottom: 1px solid #a09f9f;
        display: inline-block;
        width: 80%;
    }
    form[name="booking_offer_search"] div.input-group div.input-group-prepend, form[name="booking_offer_search"] div.input-group div.input-group-append {
        display: inline-block;
    }
    .search-input-group {
        margin-left: 0;
    }
}