#filters-column {
    background-color: white;
    padding-top: 2rem;
    color: rgb(0,58,110);
    max-width: 250px;
    font-family: "Montserrat", sans-serif;
}
#filters-header-container {
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:box;
    -webkit-box-align:end;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f0f0f0;
}
#filters-header-container * {
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    box-flex:1.0;
}
#filters-header-container h3 {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 0;
}
#filters-header-container button {
    display: inline-block;
    font-size: .8rem;
    background-color: transparent;
    padding: 0 0;
    margin-left: .2rem;
    border: none;
    color: #a09f9f;
}
#filters-header-container button:hover {
    text-decoration: underline;
}
.filter-form-section {
    padding: 1rem 0;
}
.filter-form-section h4 {
    padding: .5rem 0;
    font-size: .8rem;
    font-weight: 600;
}
#booking_offer_filters_priceMin, #booking_offer_filters_priceMax{
    width: 45%;
    margin-right: 5%;
    float: left;
    font-size: .8rem;
}
.form-check label {
    font-size: .8rem;
}
#booking_offer_filters_departureDate, #booking_offer_filters_comebackDate {
    width: 45%;
    margin-right: 5%;
    float: left;
    font-size: .8rem;
}
form[name="booking_offer_filters"] select {
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Montserrat", sans-serif;
    background: transparent url("data:image/svg+xml;utf8,<svg fill='rgb(0,58,110)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat center right;
    color: #1d2124;
    font-size: .8rem;
}
form[name="booking_offer_filters"] select:hover {
    cursor: pointer;
}
#filters-submit-container {
    text-align: center;
}
#filters-submit-container button {
    background-color: #ffffff;
    color: rgb(0,58,110);
    border: 2px solid rgb(0,58,110);
    border-radius: 22px;
    padding: .5rem 2rem;
    transition: .2s ease-out;
    font-size: .8rem;
    font-weight: 600;
}
#filters-submit-container button:hover {
    background-color: rgb(0,58,110);
    color: #ffffff;
}

#filters-btn-mobile {
    background-color: rgb(0,58,110);
    color: #ffffff;
    border: 2px solid rgb(0,58,110);
    border-radius: 22px;
    padding: .5rem 2rem;
    transition: .2s ease-out;
    font-size: .8rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

/*Offers column*/
#offers-column {
    padding: 2rem 2rem;
}
#sorting-row {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: .55rem;
}
#sorting-row select {
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Montserrat", sans-serif;
    background: transparent url("data:image/svg+xml;utf8,<svg fill='rgb(0,58,110)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat center right;
    color: #1d2124;
    font-size: .8rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 8rem;
}
#sorting-row label {
    margin-right: .5rem;
}
.offer-table-row {
    margin-top: 2rem;
}
.offer-image-container {
    width: 33.33%;
}
.offer-image-container img {
    width: 100%;
    height: 100%;
}
.offer-info-container {
    width: 40%;
    border: 1px solid #a09f9f;
    border-left: none;
    border-right: none;
    padding: .5rem 0 .5rem 1rem;
    font-family: "Montserrat", sans-serif;
}
.offer-info-container .country-continent {
    font-size: .7rem;
    color: #a09f9f;
}
.offer-info-container .offer-rating {
    color: #FFD43B;
}
.offer-info-container .offer-name {
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}
.offer-info-container .offer-info-list {
    font-size: .8rem;
    color: #a09f9f;
    margin-top: .5rem;
}
.offer-info-container .offer-info-list .offer-info-list-item {
    margin-bottom: .3rem;
}
.offer-info-container .offer-info-list .offer-info-list-item .icon-container {
    color: rgb(0,58,110);
    padding-right: .5rem;
    display: inline;
}
.offer-price-container {
    width: 26.5%;
    border: 1px solid #a09f9f;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-left: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1rem;
}
.offer-price-container p {
    font-size: 1.2rem;
    color: darkorange;
    font-weight: 600;
}
.offer-price-container p span {
    font-size: .8rem;
    color: #a09f9f;
    font-weight: 400;
}
@media(max-width: 562px) {
    .offer-image-container, .offer-info-container {
        display: block;
        width: 100%;
    }
    .offer-info-container {
        border: 1px solid #a09f9f;
        border-top: none;
        border-bottom: none;
    }
    .offer-price-container {
        display: block;
        width: 100%;
        border: 1px solid #a09f9f;
        border-top: none;
        border-radius: 0 0 .25rem .25rem;
    }
}
@media(max-width: 991px) {
    #select-sort-container {
        display: flex;
        justify-content: end;
    }
    #select-sort-container label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }
}