{% extends 'base.html.twig' %}

{% block title %}Destinations - Dream Holiday{% endblock %}

{% block body %}
    {% set counter = 0 %}
    {% for destination in destinations %}
        {% if counter == 0 %}
            <div class="row mt-2">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 text-center">
                    <div class="row">
        {% endif %}

            {% include 'destination/country_card.html.twig' with {'country_name': destination.destinationName} %}
            {% set counter = counter + 1 %}

        {% if counter == 3 %}
                    </div>
                </div>
            </div>
            {% set counter = 0 %}
        {% endif %}

    {% endfor %}
{% endblock %}
