.card-link
{
    color: #1d2124;
}
.card-link:hover
{
    color: #ffca43;
}
.card
{
    margin-bottom: 10px;
}
.card-body
{
    padding-bottom: 0 !important;
    padding-top: 0.3rem !important;
}
.card-img-top
{
    margin-top: 0;
}